= builder do |xml|
  - xml.instruct! :xml, version: '1.0'
  - xml.rss version: '2.0' do
    - xml.channel do
      - xml.title       Canvas::Env.title
      - xml.description Canvas::Env.sub_title
      - xml.link        'http://' + Canvas::Env.url_base

      - if @files
        - @files.each do |f|
          - xml.item do
            - xml.title       h f
            - xml.link        Canvas::Env.url_base + (h f)
            - xml.description h f
            - xml.pubDate     Date.today
            - xml.guid        Canvas::Env.url_base + (h f)
